<fieldset>
  <legend>Basepaths</legend>
  <p>
    <% Redmine::Scm::Base.all.each do |scm| %>
      <% next unless Setting.enabled_scm.include? scm %>
      <label for="settings_base_paths_<%= scm %>"><%= scm %></label>
      <%= text_field_tag "settings[base_paths][#{scm}]", @settings[:base_paths][scm] %><br />
    <% end %>
    <em class="info"> <%= l('help.field_base_path') %></em>
  </p>
</fieldset>

<fieldset>
  <legend>Hooks</legend>
  <p>
    <label for="settings_hook_user">Hook user</label>
    <%= text_field_tag "settings[hook_user]", @settings[:hook_user] %>
    <em class="info"> <%= l('help.hook_user') %></em>
  </p>

  <% Redmine::Scm::Base.all.each do |scm| %>
    <% next unless Setting.enabled_scm.include? scm %>
    <p>
      <% [:create, :update, :destroy].each do |hook| %>
          <label for="settings_hooks_<%= scm %>_<%= hook %>"><%= scm %> <%= hook %></label>
          <%= text_field_tag "settings[hooks][#{scm}][#{hook}]", @settings[:hooks][scm][hook], size: 70 %><br />
      <% end %>
    </p>
  <% end %>
  <p>
    <em class="info"> <%= l('help.hooks') %></em>
  </p>
</fieldset>
